[submodule "jetson/vendor/cuda_memtest"]
	path = jetson/vendor/cuda_memtest
	url = https://github.com/ComputationalRadiationPhysics/cuda_memtest.git
[submodule "jetson/vendor/watchdogd"]
	path = jetson/vendor/watchdogd
	url = https://github.com/troglobit/watchdogd.git
